PORT=5000
MONGO_URI=mongodb+srv://tushar_vercel_project_database:Tushar00001111@cluster0.kerimcq.mongodb.net/?appName=Cluster0
JWT_SECRET=z9x2Lm9qP3rT7vY1zB5bC8dE0gH9jK6m
CLIENT_URL=http://localhost:5173
